@tailwind base;
@tailwind components;
@tailwind utilities;

/* Electro Font */
@font-face {
  font-weight: 400;
  font-family: 'Electro';
  font-style: normal;
  src: local(''), url('../public/fonts/electro/electroharmonix.ttf') format('ttf');
}

/* NovaSquare */
@font-face {
  font-weight: 400;
  font-family: 'NovaSquare';
  font-style: normal;
  src: local(''), url('../public/fonts/nova_square/NovaSquare-Regular.ttf') format('ttf');
}

/* TT Square Font */
@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Thin.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Light.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-BlackItalic.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-LightItalic.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Bold.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Regular.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Italic.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-ThinItalic.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Squares';
  src: url('../public/fonts/tt_square/TTSquaresCondensed-Black.woff2') format('woff2'),
    url('../public/fonts/tt_square/TTSquaresCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
